body{
    background-color: #ff0049;
}

#main-logo{
    height: 100px;
}

.team-image{
    height: 100px;
}

.team-personal-div{
    width: 250px;
    display: inline;
    float: left;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



#hr1{
  display: block;
  width: 100%;
}

